/* reset */
@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

/* noonnu font */
@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Noto Sans KR", sans-serif;
}

li, li a {
  list-style: none;
}

a {
  color: #000;
}

button,
input {
  overflow: visible;
}

input {
  outline: none;
  border: none;
}

button {
  outline: none !important;
  border: none;
  background: 0 0;
}
