<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.memberMapper">
	
	<!-- 로그인 -->
	<select id="login" resultType="com.market.domain.MemberVO">
		select * from member
		where member_id = #{member_id} and member_pass = #{member_pass}
	</select>
	<!-- 로그인 -->
	
	<!-- 회원가입 -->
<!-- 	<insert id="insertMember">
	  insert into member(member_id, member_pass, member_name, member_email,member_phone) 
	  values(#{member_id},#{member_pass},#{member_name},#{member_email},#{member_phone})
	</insert> -->
	<insert id="insertMember">
	  insert into member(member_id, member_pass, member_phone, member_name, member_nickname, member_email, member_address, member_pay, member_num, member_pic) 
	  values(#{member_id},#{member_pass},#{member_phone},#{member_name},#{member_nickname},#{member_email},#{member_address},#{member_pay},#{member_num},#{member_pic})
	</insert> 
    <!-- 회원가입 -->
    
    <!-- 아이디 중복 체크 -->
    <select id="idChk" resultType="int">
    	select count(*) from member
    	where member_id = #{member_id}
    </select>
    <!-- 아이디 중복 체크 -->
    
    <!-- 다른 회원 판매정보  -->
	<select id="memProdList" resultType="com.market.domain.ProductVO">
		select product_pic,product_title,product_price,product_date,product_status,product_num,product_seller
		from product
		where product_seller = #{id}
	
	</select>
	<!-- 다른 회원 판매정보  -->
   
    <!-- 다른 회원 판매 후기 -->
    <select id="memProdReview" resultType="map">
		select r.reviewer, r.reviewee, r.rv_content, m.member_pic, p.product_title, r.rv_score, p.product_num,
		p.product_pic, t.t_div, t.type_div,m.member_nickname
		from trade t
		join product p on t.sell_mem_id = p.product_seller
		join member m on t.buy_mem_id = m.member_id
		join review r on r.reviewer = m.member_id
		and r.rv_num = p.product_num
		where reviewee = #{id};
	</select>
    <!-- 다른 회원 판매 후기 -->
    
    
    
    
</mapper>