<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.market.mapper.tradeMapper">

	<!-- 구매리뷰 정보 및 리스트 -->
	<select id="buyReviewList" resultType="map">
		SELECT DISTINCT r.reviewer, r.reviewee, r.rv_content, m.member_pic, p.product_title, r.rv_score, p.product_num,
		p.product_pic, t.type_div
		FROM review r
		JOIN member m ON r.reviewer = m.member_id
		JOIN product p ON r.reviewee = p.product_seller
		and r.prod_num = p.product_num
		JOIN trade t ON r.reviewer = t.buy_mem_id
		WHERE reviewer = #{id} AND t.type_div = 'prod' ;
	</select>
	<!-- 구매리뷰 정보 및 리스트 -->
	
	<!-- 판매리뷰 -->
	<select id="tSellReview" resultType="map">
		select r.reviewer, r.reviewee, r.rv_content, m.member_pic, p.product_title, r.rv_score, p.product_num,
		p.product_pic, t.type_div
		from trade t
		join product p on t.sell_mem_id = p.product_seller
		join member m on t.buy_mem_id = m.member_id
		join review r on r.reviewer = m.member_id
		and r.prod_num = p.product_num
		where reviewee = #{id};
				
	</select>
	<!-- 판매리뷰 -->

	
	<!-- 구매내역  -->
	<select id="buyList" resultType="map">
		select t.t_num, t.buy_mem_id,t.sell_mem_id,t.type_div,p.product_title,t.prod_num,
		p.product_price, p.product_pic,p.product_cate,m.member_nickname
		from trade t
		 join product p on t.sell_mem_id = p.product_seller
         and t.prod_num = p.product_num 
		 join member m on t.buy_mem_id = m.member_id
		 where t.buy_mem_id = #{id} and type_div = 'prod';
	</select>
	<!-- 구매내역  -->
	
	<!-- 판매내역  -->
	<select id="prodList" resultType="map">
		select t.t_num, t.buy_mem_id,t.sell_mem_id,t.type_div,p.product_title,t.prod_num,
		p.product_price,p.product_pic,p.product_cate,m.member_nickname
		from trade t
		 join product p on t.sell_mem_id = p.product_seller
         and t.prod_num = p.product_num
		 join member m on t.buy_mem_id = m.member_id
		 where t.sell_mem_id = p.product_seller and t.prod_num = p.product_num and type_div = 'prod';
	</select>
	<!-- 판매내역  -->
	
	<!-- 구매 리뷰  -->
	<insert id="insertReview">
		insert into review(rv_num,reviewee, reviewer, rv_score, rv_content,prod_num)
		values(#{rv_num},#{reviewee},#{reviewer},#{rv_score},#{rv_content},#{prod_num});
	</insert>
	<!-- 구매 리뷰  -->
		
	<!-- 판매자 온도  -->
	<select id="avgScore" resultType="double">
		select avg(rv_score)
		from review
		group by reviewee
		having reviewee = #{reviewee}
	</select>
	<!-- 판매자 온도  -->
	
	<!-- 내 판매 상품  -->
	<select id="myProdList" resultType="com.market.domain.ProductVO">
		select product_pic,product_title,product_price,product_date,product_status,product_num,product_seller,product_readcount
		from product
		where product_seller = #{id}
	
	</select>
	
	<!-- 경매 신청 내역  -->
	<select id="auBuyList" resultType="map">
		select au_num, au_startPrice, au_endTime, au_sellerId, au_buyerId, max(au_bidPrice)as au_bidPrice, au_endPrice, au_pic,
		au_status, au_title,au_content, au_category
		from auction
		where au_buyerId = #{id} and au_num is not null and au_bidPrice != 0
		group by au_num
		order by au_num desc;

		
	</select>
	<!-- 경매 신청 내역  -->
	
	<!-- 전체 경매 리스트  -->
	<select id="getAList" resultType="com.market.domain.AuctionVO">
		select max(au_bidPrice) as au_bidPrice
		from auction
		group by au_num
		order by au_num desc;
	</select>
	<!-- 전체 경매 리스트  -->
	
	<!-- 내 경매 판매목록 -->
	<select id="myAuctionList" resultType="com.market.domain.AuctionVO">
		select au_num, au_startPrice, au_endTime, au_sellerId, au_buyerId, max(au_bidPrice)as au_bidPrice, au_endPrice, au_pic,
		au_status, au_title,au_content, au_category
		from auction
		where au_sellerId = #{id} and au_num is not null
		group by au_num
		order by au_num desc;
	</select>
	<!-- 내 경매 판매목록 -->
	
	<!-- 내  찜 상품목록 -->
	<select id="getFavorite" resultType="map">
	 	select f.product_num, f.member_id, p.product_title,p.product_price,p.product_pic,p.product_seller,p.product_readcount,
	 	p.product_favorite
	 	from favorite f
	 	join product p
	 	on f.product_num = p.product_num
	 	where f.member_id = #{id}
	 
	</select>
	<!-- 내  찜 상품목록 -->
	
	
	<!-- 마이페이지 찜 취소 -->
	<delete id="likeProdCancel">
		delete from favorite
		where member_id = #{member_id} and product_num = #{product_num}

	</delete>
	<!-- 마이페이지 찜 취소 -->
	
	<!-- 내 랜덤목록  -->
	<select id="myRandomList" resultType="com.market.domain.RandomVO" >
	select ran_num, ran_price, ran_endTime, ran_sellerId, ran_buyerId, ran_pic, ran_maxPp, ran_title, ran_content, ran_bidPrice, ran_status
	from random
	where ran_sellerId = #{id} and ran_num is not null
	group by ran_num
	order by ran_num desc;
	</select>
	<!-- 내 랜덤목록  -->

	
</mapper>