<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.market.mapper.tradeMapper">

	<select id="buyReviewList" resultType="map">
		SELECT DISTINCT r.reviewer, r.reviewee, r.rv_content, m.member_pic, p.product_title, r.rv_score, p.product_num,
		p.product_pic, t.t_div
		FROM review r
		JOIN member m ON r.reviewer = m.member_id
		JOIN product p ON r.reviewee = p.product_seller
		JOIN trade t ON r.reviewer = t.buy_mem_id
		WHERE reviewer = t.buy_mem_id AND t.t_div = 1;
	</select>
	
	<select id="tSellReview" resultType="com.market.domain.TradeVO">
		<![CDATA[
		select * 
		from trade
		]]>
	</select>
	
	<select id="buyList" resultType="map">
		select t.t_num, t.buy_mem_id,t.sell_mem_id,t.t_div,t.type_div,p.product_title,t.prod_num,
		p.product_price, p.product_pic,p.product_cate,m.member_nickname
		from trade t
		 join product p on t.sell_mem_id = p.product_seller
         and t.prod_num = p.product_num 
		 join member m on t.buy_mem_id = m.member_id
		 where t.buy_mem_id = m.member_id and t.t_div = 1;
	</select>
	
	<select id="prodList" resultType="map">
		select t.t_num, t.buy_mem_id,t.sell_mem_id,t.t_div,t.type_div,p.product_title,t.prod_num,
		p.product_price,p.product_pic,p.product_cate,m.member_nickname
		from trade t
		 join product p on t.sell_mem_id = p.product_seller
         and t.prod_num = p.product_num
		 join member m on t.buy_mem_id = m.member_id
		where t.buy_mem_id = m.member_id and t.t_div = 2;
	
	</select>
	
	<insert id="insertReview">
		insert into review(reviewee, reviewer, rv_score, rv_content)
		values(#{reviewee},#{reviewer},#{rv_score},#{rv_content});
	</insert>
		
	<select id="avgScore" resultType="double">
		select avg(rv_score)
		from review
		where reviewee = #{reviewee};
		
	</select>

</mapper>